body, h1, h2, h3, p, ul, li, button {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #ffffff;
    font-size: 18px;
    line-height: 1;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.navigation {
    background-color: #282828;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    max-height: 50px;
    cursor: pointer;
}

nav ul {
    list-style: none;
}

nav li {
    display: inline-block;
    margin-right: 20px;
    cursor: pointer;
}

.heroImg {
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 100px 20px;
    flex: 1;
}

.content {
    max-width: 800px;
    margin: 0 auto;
}

.heroImg img {
    border-radius: 50%;
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.heroImg p {
    font-size: 52px;
    color: #fff;
    margin-bottom: 20px;
    text-align: left;
    line-height: 1.2;
}

button {
    background-color: #46668A;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 20px;
}

footer {
    background-color: #282828;
    color: #fff;
    text-align: left;
    padding: 20px;
    margin-top: auto;
}

footer ul {
    list-style: none;
}

footer li {
    display: inline-block;
    margin-right: 20px;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .navigation {
        flex-direction: column;
        align-items: flex-start;
    }

    nav li {
        margin-right: 0;
        margin-bottom: 10px;
    }
}
